.Bolinha{
    text-align: center;
    background-color: blue;
    font-size: 20px;
    border-radius: 60px;
    height: 60px;
    width: 60px;
}

.Bot{
    position: fixed;
    right:4% ;
    bottom: 2%; 
    padding: 10px;
    display: flex;
    align-items: center;
}

.TextoBolinha{
    left:20px ;
    right:20px ;
    padding: 10px;
    background-color: #DFDFDF;
    border-radius: 15px;
    margin-right: 5px
   
}

.some{
    display: none
}

.TelaBot{
    height: 430px;
    width: 400px;
    position: fixed;
    right:6%;
    bottom: 10%; 
    align-items: center;
    
}

.Cabecalho{
    height: 20%;
    width: 100%;
    background-color: #3481FF;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Conversa{
    height: 80%;
    width: 100%; 
    background-color: #FFF;
}


.Sair{
    font-size: 20px;
    padding: 30px;
}

.Foto{
    font-size: 20px;
    padding: 20px;
}

.Campo{
    height: 30px;
    width: 98%;
    border-radius: 10px;
}

.MenEu{
    background-color: #CBCBCB;
    height: 60px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

.MenCli{
    background-color: #3481FF;
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
}