
.body{
    background-color: #CBEBC0;
}
.Bolinha{

    height: 90px;
    width: 90px;
    border-radius: 50%;

}

.Bot{
    position: absolute;
    right: 0px;
    right:2% ;
    bottom: 5%;
    height: 100px;
    width: 500px; 
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

.TextoBolinha{
    
    height: 50px;
    width: 80%;
    padding: 10px;
    background-color: #DFDFDF;
    border-radius: 15px;
    margin-right: 5px
   
}

.some{
    display: none
}

.TelaBot{
    height: 430px;
    width: 400px;
    position: fixed;
    right:6%;
    bottom: 10%; 
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    
}

.Cabecalho{
    height: 20%;
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Conversa{
    height: 80%;
    width: 100%; 
    background-color: #FFF;
    overflow-y: scroll;
}


.Sair{
    font-size: 20px;
    padding: 3px;
    margin-left: 20px;
}



.Campo{
    height: 30px;
    width: 98%;
    border-radius: 10px;
}

.MenEu{
    background-color: #CBCBCB;
    height: 60px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

.MenCli{
    background-color: #3481FF;
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
}

.Foto{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.Foto2{
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    padding: 10px;
}

.FotoCab{
    height: 60px;
    width: 60px;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
}

.PFoto{
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
}

.Finalizar{
    font-size: 20px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 130px;
}